server:
  port: 8080
spring:
  sql:
    init:
      mode: always
  datasource:
#    url: jdbc:h2:file:./db/filmorate
    url: jdbc:h2:mem:filmorate
    username: sa
    password: password
    driver-class-name: org.h2.Driver